* { margin: 0px; padding: 0px; font-family: Arial, sans-serif; font-size: 8pt; color: #000; list-style-type: none; }
html { background: #369 url(/images/background.jpg) repeat-x; }
body { min-width: 1000px; min-height: 800px; background: transparent url(/images/backgroundleft.png) no-repeat bottom left; }
h1 { color: #333; font-size: 13pt; font-weight: normal; margin-bottom: 4px; }
h2 { color: #333; font-size: 11pt; font-weight: normal; margin-bottom: 4px; }
h3 { color: #333; font-size: 10pt; margin-bottom: 4px; }
a img { border: none; }
a { color: #369; }
a:hover { color: #000; }
p, ul { margin-bottom: 12px; }
p, li { line-height: 16px; }

.clearer { clear: both; height: 1px; line-height: 1px; overflow: hidden; }

pre { margin-bottom: 12px; background-color: #EEE; padding: 4px; font-size: 9pt; font-family: 'Courier New'; width: 702px; overflow: auto; }
pre .blue { color: blue; }
pre .olive { color: olive; }
pre .green { color: green; }
pre .magenta { color: magenta; }

#wrapper { width: 1000px; margin: 0px auto; padding: 10px 0px; }
#header { height: 64px; width: 1000px; margin-bottom: 8px; }

#menu { width: 136x; float: left; }
#menu h2 { color: #FFF; text-transform: uppercase; font-size: 8pt; margin-bottom: 4px; font-weight: bold; }
#menu ul { margin-bottom: 12px; }
#menu li { margin: 2px 4px; }
#menu a { color: #EEE; text-decoration: none; }
#menu a:hover { color: #FFF; text-decoration: underline; }

#content { width: 728px; margin: 0px 128px 0px 144px; }

#right { width: 120px; float: right; padding-top: 120px; }
#right h2 { margin-top: 12px; color: #FFF; text-transform: uppercase; font-size: 8pt; margin-bottom: 4px; font-weight: bold; }
#right li { margin: 2px 0px; }
#right a { color: #FFF; text-decoration: none; }
#right a:hover { color: #FFF; text-decoration: underline; }

#footer { text-transform: uppercase; color: #EEE; margin: 4px 0px; }
#footer h3 { color: #FFF; }
#footer p { color: #DDD; margin-bottom: 8px; line-height: 18px; }
#footer a { color: #DDD; margin-right: 7px; }

.box { margin-bottom: 12px; width: 728px; }
.boxedge { height: 8px; width: 728px; display: block; }
.boxinner { background-color: #FFF; padding: 8px; width: 712px; }
.boxinner2 { background-color: #FFF; }

.thumbnails { display: block; margin-bottom: 8px; }
.thumbnails li { display: block; float: left; padding: 3px; background-color: #000; margin-right: 8px; }
.thumbnails a { border: 1px solid #FFF; display: block; }
.thumbnails a img { display: block; }

.mainthumbs { margin-bottom: 12px !important; }
.mainthumbs img { width: 73px !important; height: 73px !important; }
.mainthumbs li { margin-bottom: 8px; }

.splashimage { padding: 3px; background-color: #000; display: block; }
.splashimage img { border: 1px solid #FFF; display: block; }

.top { display: block; margin-top: 8px; color: #333; font-size: 9px; text-transform: uppercase; }
.game { margin-bottom: 8px; }

.embed { background-color: #EEE; color: #333; padding: 4px; width: 702px; height: 100px; border: 1px solid #CCC; }


.tute h2 { color: #000; font-size: 10pt; margin-bottom: 4px; }
.tute h3 { color: #333; font-size: 9pt; }
.tute p { line-height: 18px; margin-bottom: 12px; color: #000; font-size: 9pt; }
.tute p a { color: #369; text-decoration: underline; font-size: 9pt; }
.image { font-size: 8pt; color: #666; margin-bottom: 12px; }
.image img { display: block; padding: 2px; border: 1px solid #CCC; margin-bottom: 4px; }

.addthis { margin: 8px 0px; }

.disqus { margin-bottom: 12px; }